@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

header{
    background-color: #EEEEEE;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px 170px;
    /* border-radius:50px ; */
    /* margin: 40px 100% auto; */

}

.logo{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    color: #20c997;
}

.navigation a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left:30px ;
    color: #3B1E54;
}

.navigation a:hover{
    color: #20c997;
    font-size: 1.8em;
}

section{
    padding: 100px 200px;
    color: white;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(Media/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
.main h1{
    font-size: 30px;
    font-weight: 300;
}
h1.name{
    font-size:40px ;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.filed{
   
    font-size:2em ;
    font-weight: 500;
}
.main h4{
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    text-decoration: none;
    background-color: #20c997;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.4375em 1.187em;
    letter-spacing: 1px;
    color: white;
    /* margin: 3px; */
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-right: 15px;

   

}
.main-btn:hover{
    background-color:#ff589e;
    transform: scale(1.1);

}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 20px;
    margin-left: 20px;
}



.about-content {
    display: flex;
    align-items: center;
   
    
}

.about-content img {
    margin-right: 40px;
    

}

.text-content {
    flex-grow: 1;
    margin-left: 50px;
}

.text-content h1,
.text-content p {
    color: black;
    margin: 0;
}

.text-content p {
    font-weight: 300;
}

.image-content {
    max-width: 350px;
    max-height: 400px;
}


.title {
    display: flex;
    justify-content: center;
    color: #20c997;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #20c997;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p{
    color: #000;
}

.projects {
    background-color: rgba(170, 97, 215, 0.8); 
    ;
    
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    /* width: 23em; */
    width: 30%;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    transition: 0.7s ease;
    box-shadow: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.project-card:hover {
   transform: scale(1.1);
   
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 0.7em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
    font-family: cursive;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 10px;
    color: #000;
}

.more-details {
    text-decoration: none;
    color: black;
}

.more-details:hover {
    color: #20c997;
}


.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.3em;
}


.footer {
    background: linear-gradient(to right, #aa61d7, #58d0a3);
    color: #fff;
    padding: 2em;
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
}

.footer .social-icons{
    display: flex;
    gap: 0.5em;
    color: #20c997;

}
.footer .copyright{
    margin-top: 2em;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 5px 0 0;
    color: white;
    
    transition: 0.7s;
}


.footer .social-icons a:hover{
   font-size: 1.9em ; 
   color: #ff589e;
   transform: scale(1);
   
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .about-content{
        flex-direction: column;
       
    }

    .about-content img {
        margin-bottom: 40px;
    }



    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

